__pycache__/
.venv
all_house_id.json
all_house_data.json
utils.cpython-312.pyc
test.py
all_house_data.jsonl
all_house_id.jsonl
failed_house_id.jsonl
main_1.py
main_2.py
failed_house_data.jsonl
rent_history.jsonl
all_house_id_[0-9]*
all_house_data_[0-9]*
failed_house_id_[0-9]*
failed_house_data_[0-9]*
rent_history_[0-9]*
output/
processed_house_data_[0-9]*
.env
house_images/